.main {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  /* padding: 6rem; */
  /* min-height: 100vh; */
  height: 100%;
  width: 100%;
}


.container{
  display: flex;
  flex-wrap: wrap;

}
.smallcontainer{
  /* border: 1px solid black; */
  text-align: center;
  cursor: pointer;
  transition: color 0.3s ease;
  transition: filter 0.3s ease;

 
}

.tetrisShape1 {
  background-color: #c59187;
  color:  #c59187;
  display: flex;
  justify-content: center;
  align-items: center;


}


.tetrisShape2{
  background-color: #d17999;
  color:  #d17999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tetrisShape3{
  background-color:#c65ca7;
  color: #c65ca7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tetrisShape4{
  background-color: #934ba5;
  color:  #934ba5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tetrisShape5{
  background-color: #7082c1;
  color:  #7082c1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 0px; */
}

.tetrisShape7{
background-color: #283365;
color:  #283365;
display: flex;
  justify-content: center;
  align-items: center;
}
.tetrisShape6{
background-color: #40bec6;
color:  #40bec6;
display: flex;
  justify-content: center;
  align-items: center;
}
.texts{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.tetrisShape11 {
  background-color: #c59187;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease, display 0.3s ease, justify-content 0.3s ease, align-items 0.3s ease;
  
  
}


.tetrisShape21{
  background-color: #d17999;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease, display 0.3s ease, justify-content 0.3s ease, align-items 0.3s ease;
}
.tetrisShape31{
  background-color:#c65ca7;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease, display 0.3s ease, justify-content 0.3s ease, align-items 0.3s ease;
}
.tetrisShape41{
  background-color: #934ba5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease, display 0.3s ease, justify-content 0.3s ease, align-items 0.3s ease;
}
.tetrisShape51{
  background-color: #7082c1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease, display 0.3s ease, justify-content 0.3s ease, align-items 0.3s ease;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 0px; */
}

.tetrisShape71{
background-color: #283365;
transition: background-color 0.3s ease, color 0.3s ease, display 0.3s ease, justify-content 0.3s ease, align-items 0.3s ease;
color: white;
display: flex;
  justify-content: center;
  align-items: center;
}
.tetrisShape61{
background-color: #40bec6;
transition: background-color 0.3s ease, color 0.3s ease, display 0.3s ease, justify-content 0.3s ease, align-items 0.3s ease;
color: white;
display: flex;
  justify-content: center;
  align-items: center;
}

.texttitle{
  position: absolute;
  font-size: 38px;
  color:white;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  /* display: none; */
}

.btnn{
  position: absolute;
  bottom: 5px;
  z-index: 1;
  right: 5px;
  /* width: 150px;
  height: 80px; */
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
  border-radius: 5px;
}